@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/OpenSans.woff');
}
@font-face
{
	font-family: Pacifico;
	src: url('../fonts/Pacifico.ttf'),
     	url('../fonts/Pacifico.eot'); /* IE9 */
} 

a:hover{
	cursor: pointer;
}

.container {
	max-width: 1024px;
}

#bttop{
	position:fixed;
    bottom:20px;
    right:5px;
    display: none;
    z-index:1000;
}

.modal-dialog{
	width: 960px;
}
