@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/OpenSans.woff'),
   	url("http://themes.googleusercontent.com/static/fonts/opensans/v7/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
@font-face
{
	font-family: Pacifico;
	src: url('../fonts/Pacifico.ttf'),
     	url('../fonts/Pacifico.eot'); /* IE9 */
} 

.container {
	max-width: 1080px;
}

#bttop{
	position:fixed;
    bottom:20px;
    right:5px;
    display: none;
    z-index:1000;
}

.rq, .error {
	color: red;
}
#bttop{
	position:fixed;
    bottom:60px;
    right:10px;
    display: none;
}
.table-scrollable  {
    width: 100%;
    overflow: auto;
    /*overflow-y: hidden;*/
    /*border: 1px solid #dddddd;*/
 }
progress{
    border-radius: 10px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}